# String Interpolation in SCALA

In [1]:
val name = "Arun"
val course = "Spark"
val percentage = 98.9876
val status = true
val count = 10

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.147.129:4040
SparkContext available as 'sc' (version = 3.4.0, master = local[*], app id = local-1739038255491)
SparkSession available as 'spark'

name: String = Arun
course: String = Spark
percentage: Double = 98.9876
status: Boolean = true
count: Int = 10

# Note that we have some constants with type val(immutable) as above
- Now let's print them and see the complexity in printing in a traditional way
- Its not even flexible to read if it is multiple lines

In [4]:
val msg1 = "Name : " + name + ", Course : " + course + ", Percentage : " + percentage + ", Count : " + count 
println(msg1)

Name : Arun, Course : Spark, Percentage : 98.9876, Count : 10

msg1: String = Name : Arun, Course : Spark, Percentage : 98.9876, Count : 10

# Simply use 's' and put a $ in front of type as below (instead of above way)
- This is called String Interpolation
- Same concept is there in Python, called Format string, we can use 'f' in Python
- Same concept we can use in Scala as well (S won't do format, F will replace variables and it will format as well)
- We can give a tab space while using 'S' and by typing \t
- Use 'raw' to make the whole string print as is including tabs

In [5]:
val msg2 = s"Name : $name, Course : $course, Percentage : $percentage, Count : $count"
println(msg2)

Name : Arun, Course : Spark, Percentage : 98.9876, Count : 10

msg2: String = Name : Arun, Course : Spark, Percentage : 98.9876, Count : 10

In [6]:
val msg2 = f"Name : $name, Course : $course, Percentage : $percentage%.2f, Count : $count"
println(msg2)

Name : Arun, Course : Spark, Percentage : 98.99, Count : 10

msg2: String = Name : Arun, Course : Spark, Percentage : 98.99, Count : 10

In [8]:
val msg3 = s"Name : $name\t\t Course : $course\t\t Percentage : $percentage\t\t Count : $count"
println(msg3)

Name : Arun		 Course : Spark		 Percentage : 98.9876		 Count : 10

msg3: String = Name : Arun		 Course : Spark		 Percentage : 98.9876		 Count : 10

In [9]:
val msg4 = raw"Name : $name\t\t Course : $course\t\t Percentage : $percentage\t\t Count : $count"
println(msg4)

Name : Arun\t\t Course : Spark\t\t Percentage : 98.9876\t\t Count : 10

msg4: String = Name : Arun\t\t Course : Spark\t\t Percentage : 98.9876\t\t Count : 10

# TUPLES
- Tuples are most commly used in Spark
- These are immutable, can't change
- We can access elements using position like <tuple_name>._1, <tuple_name>._2, <tuple_name>._3, <tuple_name>._4

In [10]:
val (name, course, percentage, count) = ("Arun", "Spark", 98.9876, 10)

name: String = Arun
course: String = Spark
percentage: Double = 98.9876
count: Int = 10

In [11]:
val t = ("Arun", "Spark", 98.9876, 10)

t: (String, String, Double, Int) = (Arun,Spark,98.9876,10)

In [12]:
t._1

res6: String = Arun

In [13]:
t._2

res7: String = Spark

In [14]:
t._3

res8: Double = 98.9876

In [15]:
t._4

res9: Int = 10